extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de la empresa", class='img-fluid')
            .col-md-7.text-justify
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ipsa! Corporis quia a debitis tempore, porro perspiciatis dolorum officia doloremque harum nulla nostrum voluptas temporibus. Odit illum placeat neque officia!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius debitis, fuga ab suscipit, iste blanditiis voluptas rem sequi quasi delectus minima sed quas minus! Eum quas ea odit possimus assumenda!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quae alias optio aspernatur accusamus, itaque eveniet, expedita, exercitationem sunt nam eius temporibus voluptas atque provident explicabo nulla beatae blanditiis perspiciatis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eum quos nesciunt dolor repellendus sint laboriosam voluptatem! Consectetur dolorum alias magnam eligendi, possimus obcaecati atque temporibus mollitia nulla numquam? Aut!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eum quos nesciunt dolor repellendus sint laboriosam voluptatem! Consectetur dolorum alias magnam eligendi, possimus obcaecati atque temporibus mollitia nulla numquam? Aut!
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eum quos nesciunt dolor repellendus sint laboriosam voluptatem! Consectetur dolorum alias magnam eligendi, possimus obcaecati atque temporibus mollitia nulla numquam? Aut!